<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 class="name"><a class="name" href="/">Story App</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% paths_array = [signup_path, login_path, root_path] %>
      <% unless paths_array.include?(request.path) %>
      <li class="active"><%= link_to 'Back', :back %></li>
      <% end %>

      <% if current_user %>
      <li class="has-dropdown">
      <a class="active"><%= current_user.email %>.</a>
      <ul class="dropdown">
        <li class="active"><%= link_to "Log Out", logout_path %></li>
      </ul>
    </ul>
  <% else %>
  <li class="has-dropdown">
    <a>welcome</a>
    <ul class="dropdown">
      <li class="active"><%= link_to "Sign Up", signup_path %></li>
      <li class="active"><%= link_to "Log In", login_path %></li>
    </ul>
  </li>
      <% end %>
  </section>
    </nav>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
  <div class="container">
<br/>

    <%= yield %>


    <%= javascript_include_tag "application" %>
    </div>
  </body>
</html>
